@import '../../styles/colors';
@import '../../styles/fonts';

.text-block-2columns {
    background: linear-gradient(90deg, rgb(252, 238, 221) 0%, rgb(255, 248, 239) 100%);
    display: flex;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100vw;

    &.padding-top {
        padding-top: 20px;
    }

    &.padding-bottom {
        padding-bottom: 20px;
    }

    &.padding {
        padding: 20px 0;
    }

    &.non-padding {
        padding: 0;
    }

    @media only screen and (min-width: 600px) {
        &.padding-top {
            padding-top: 50px;
        }
    
        &.padding-bottom {
            padding-bottom: 50px;
        }
    
        &.padding {
            padding: 50px 0;
        }
    
        &.non-padding {
            padding: 0;
        }
    }

    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;

        @media only screen and (min-width: 600px) {
            display: flex;
            flex-direction: column;
        }
    }

    h2.hero-with-slideshow__text-heading {
        margin-bottom: 0;
        font-size: 22px;
        line-height: 28px;

        @media only screen and (min-width: 600px) {
            margin-bottom: 20px;
            font-size: 44px;
            line-height: 50px;
        }
    }

    .text-block-2columns__columns-container {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 600px) {
            flex-direction: row;
            gap: 50px;
        }

        .text-block-2columns__column {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media only screen and (min-width: 600px) {
                width: 50%;
            }

            p.text-block-2columns__text-description {
                font-size: 15px;
                text-align: center;
                line-height: 30px;
                padding: 0 0 15px;
                margin: 0;
    
                @media (min-width: 600px) {
                    font-size: 16px;
                    text-align: left;
                }
            }
        }
    }

    img {
        margin-top: 20px;
    }
}
