@import '../../styles/colors';
@import '../../styles/fonts';

.hero-with-slideshow {
    background: linear-gradient(90deg, rgb(252, 238, 221) 0%, rgb(255, 248, 239) 100%);
    display: flex;
    margin-left: 50%;
    margin-bottom: 120px;
    -webkit-transform: translateX(-50%);
    padding-top: 100px;
    transform: translateX(-50%);
    width: 100vw;

    @media (min-width: 600px) {
        padding-top: 20px;
    }

    svg {
        position: absolute;
        bottom: -60px;
        width: 100%;
        fill: linear-gradient(90deg, rgb(252, 238, 221) 0%, rgb(255, 248, 239) 100%);
    }

    .hero-with-slideshow__text {
        width: 100%;
        justify-content: center;

        @media only screen and (min-width: 600px) {
            display: flex;
            flex-direction: column;
            width: 40%;
        }

        @media only screen and (min-width: 800px) {
            width: 50%;
        }

        h2 {
            margin-top: 0;
            line-height: 48px;

            @media only screen and (max-width: 399px) {
                font-size: 22px;
                line-height: 28px;
            }

            @media only screen and (min-width: 400px) and (max-width: 800px) {
                font-size: 30px;
                line-height: 38px;
            }

        }

        p.hero-with-slideshow__text-description {
            font-size: 16px;

            @media (min-width: 600px) {
                font-size: 18px;
            }

            @media (min-width: 900px) {
                font-size: 20px;
            }
        }

        .button-primary {
            display: block;
            width: fit-content;
            margin: 30px auto;

            @media (min-width: 600px) {
                margin: 30px 0;
            }
        }
    }

    .carousel * {
        box-sizing: border-box;
        border-radius: 12px;

        & .slide {
            opacity: 0.5;
            scale: 0.9;
            width: auto;
            max-height: 80px;

            @media (min-width: 600px) {
                max-height: unset;
                scale: 0.9;
            }
        }

        .slide.selected {
            opacity: 1;
            scale: 1;
            width: 50%;
            max-height: unset;

            @media (min-width: 600px) {
                max-height: unset;
                scale: 1;
            }
        }

        .selectedItem img {
            opacity: 5;
            max-height: 250px;

            @media (min-width: 600px) {
                max-height: unset;
            }
        }
    }
    
    .carousel-root {
        width: 100%;

        @media (min-width: 600px) {
            width: 50%;
        }

        @media (min-width: 800px) {
            width: 40%;
        }
    }
}

.swiper.swiper-cards {
    width: 60%;
    height: auto;
    max-height: 320px;

    @media (min-width: 600px) {
        width: 270px;
        height: 350px;
        margin-right: 5%;
        max-height: unset;
    }

    @media (min-width: 900px) {
        width: 300px;
        height: 390px;
        margin-right: auto;
    }

    @media (min-width: 1100px) {
        width: 370px;
        height: 480px;
        margin-right: auto;
    }
}
  
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
