// COLORS
// ---------------------------

$core-color-primary:#ED7C23;
$core-color-secondary:#000000;
$core-color-background:#FFFFFF;
$core-color-dark-background: #2C1A12;
$core-color-light: #F8F8F8;

$core-color-neutral:#696C78;
