// LAYOUT
// ---------------------------

@import 'resets';
@import 'colors';
@import 'fonts';

main {
    margin-top: 88px;
}

body {
    background: $core-color-background;;
    color: var(--text-color);
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: var(--body);
    line-height: var(--default);
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
  
img {
    display: block;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--semibold);
    line-height: var(--dense);
}
  
a {
    color: currentColor;
    text-decoration: none;
    border-bottom: 1px transparent;
}
  
a:hover {
    color: var(--primary);
    border-bottom-color: var(--primary);
}
  
a.active {
    font-weight: var(--bold);
}

#services, #blog, #reviews, #passport, #trips {
    scroll-margin-top: 100px;
}

#about-us {
    scroll-margin-top: 30px;
}

#gallery, #contact-us {
    scroll-margin-top: 50px;
}

.container-fluid {
    display: flex;
    padding: 35px 20px 0 20px;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    margin: 0 auto;
    z-index: 1;

    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 20px 0 20px;
    }
}

@mixin button-primary {
    @include button-text;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $core-color-primary;
    color: $core-color-background;
    border: 1px solid $core-color-primary;
    padding: 15px 30px;
    margin: 30px 0;
    cursor: pointer;
    height: fit-content;
    border-radius: 31px;
    width: max-content;

    &:hover{
        background-color: $core-color-secondary;
        color: $core-color-primary;
        border: 1px solid $core-color-secondary;
    }
}

@mixin button-secondary {
    @include button-text;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: $core-color-primary;
    background: $core-color-background;
    border: 1px solid $core-color-primary;
    padding: 15px 30px;
    margin: 30px 0;
    cursor: pointer;
    height: fit-content;
    border-radius: 31px;

    &:hover{
        text-decoration: none;
        color: $core-color-background;
        background-color: $core-color-primary;
        border-color: $core-color-primary;
    }
}

@mixin button-tertiary {
    @include button-text;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: $core-color-background;
    color: $core-color-secondary;
    border: none;
    padding: 10px 20px;
    margin-bottom: 15px;
    cursor: pointer;
    height: fit-content;

    &:hover{
        background-color: $core-color-primary;
    }
}

a {
    color: $core-color-primary;

    &:hover {
        color: $core-color-secondary;
    }
}

.button-primary {
    @include button-primary;
    &--dark{
        background-color: $core-color-secondary;
    color: $core-color-background;
    border: 1px solid $core-color-secondary;
    }
}

.button-secondary {
    @include button-secondary;
    &--dark{
        background-color: $core-color-secondary;
        color: $core-color-background;
        border: 1px solid $core-color-secondary;
    }
}

.button-tertiary {
    @include button-tertiary;
    &--dark{
        background-color: $core-color-secondary;
        color: $core-color-background;
        border: 1px solid $core-color-secondary;
    }
}

.color-block {
    height: 100px;
    width: 100px;
    border: 1px solid $core-color-neutral;

    &--primary{
        background-color: $core-color-primary;
    }
    &--secondary{
        background-color: $core-color-secondary;
    }
    &--background{
        background-color: $core-color-background;
    }
    &--neutral{
        background-color: $core-color-neutral;
    }
}

.desktop {
    display: none;

    @media (min-width: 900px) {
        display: block;
    }
}

.mobile {
    display: none;

    @media (max-width: 900px) {
        display: block;
    }
}
