@import '../../styles/colors';
@import '../../styles/fonts';

.contact {
    background-color: #F8F8F8;
    display: flex;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100vw;
    padding: 30px 0 50px;

    @media only screen and (min-width: 600px) {
        padding: 50px 0 70px;
    }

    .container-fluid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact__text {
        width: 90%;
        align-items: center;
        justify-content: center;

        @media only screen and (min-width: 600px) {
            display: flex;
            flex-direction: column;
            width: 70%;
        }

        h2 {
            text-align: center;
            margin-top: 0;
            font-size: 22px;
            line-height: 28px;

            @media only screen and (min-width: 400px) {
                font-size: 44px;
                line-height: 38px;
            }

        }

        p.contact__text-description {
            font-size: 16px;
            padding-bottom: 20px;
            text-align: center;
            line-height: normal;

            @media (min-width: 600px) {
                padding-bottom: 40px;
                font-size: 18px;
            }

            @media (min-width: 900px) {
                font-size: 20px;
            }
        }
    }

    .contact__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4%;

        @media (min-width: 600px) {
            flex-direction: row;
        }

        section {
            &.contact__info {
                width: 100%;
                margin-bottom: 40px;

                @media (min-width: 600px) {
                    width: 40%;
                    margin-bottom: 0;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: 10px;
                }

                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #F0F0F0;
                    border-radius: 12px;
                    padding: 20px;

                    @media (min-width: 370px) {
                        flex-direction: row;
                    }

                    @media (min-width: 600px) {
                        flex-direction: column;
                    }

                    @media (min-width: 1000px) {
                        flex-direction: row;
                    }

                    & span:first-child {
                        font-weight: 500;
                    }
                }

                .contact__info-days {
                    gap: 0;
                    background-color: #F0F0F0;
                    border-radius: 12px;
                    padding: 20px;
                    margin-bottom: 10px;

                    li {
                        padding: 0;
                        padding-bottom: 5px;
                    }
                }
            }
            
            &.contact-form__container {
                width: 100%;
                background-color: #F0F0F0;
                border-radius: 23px;
                padding: 40px;

                @media (min-width: 600px) {
                    width: 60%;
                }

                form.contact-form__form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .fields-container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 10px;
                        justify-content: space-between;

                        input {
                            width: 100%;
                        }

                        @media (min-width: 1000px) {
                            flex-direction: row;

                            .pet-number {
                                width: 40%;
                                min-width: 140px;
                            }
                        }
                    }

                    input, textarea {
                        font-family: var(--font-sans);
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 1px solid #D6D6D6;
                        border-radius: 12px;
                        padding: 10px;
                    }
                    
                    button {
                        svg {
                            fill: white;
                            margin-left: 10px;
                        }

                        &:hover svg {
                            fill: $core-color-primary;
                        }
                    }

                }
            }
        }


    }
}
