@import '../styles/colors';

footer.homepageFooter {
  display: flex;
  flex-direction: column;
  background: $core-color-dark-background;
  width: 100%;
  padding: 23px 20px;
  z-index: 2;
  top: 0;
  justify-content: space-between;
  align-items: center;

  & .container-fluid {
    flex-direction: column-reverse;
    padding: 0;
    gap: 20px;
    flex-wrap: wrap;

    @media (min-width: 700px) {
      padding: 12px 20px;
      flex-direction: row;
      gap: 0;
    }
  }

  .logoLink {
    justify-content: flex-end;
  }

  .homepageFooter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 700px) {
      align-items: flex-start;
    }

    &:last-child {
      align-items: center;

      @media (min-width: 700px) {
        align-items: flex-end;
      }
    }
  }

  a {
    color: $core-color-background;

    &:hover {
      color: $core-color-primary;
    }
  }

  .social-media {
    padding-top: 30px;
    margin: 0;
    align-self: center;

    .navigationItem a {
      filter: invert(100%);
      -webkit-filter: invert(100%);
    }
  }

  ul.contact__info-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    list-style: none;
    gap: 8px;
    align-items: center;

    @media (min-width: 700px) {
      align-items: flex-end;
    }

    li {
      text-align: center;
      display: flex;
      gap: 8px;

      svg {
        fill: $core-color-background;
      }

      .social-media {
        display: none;
      }

      @media (min-width: 700px) {
        text-align: right;
      }
    }
  }

  nav {
    width: 100%;
  }

  ul.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: 700px) {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 50px;
    }

    .details-submenu-list {
      display: block;
      width: 100%;

      @media (min-width: 450px) {
        width: 30%;
      }

      .navigation-submenu-list {
        min-width: max-content;
        color: $core-color-background;
        padding: 0;
        gap: 10px;
        align-items: center;

        @media (min-width: 700px) {
          align-items: flex-start;
        }

        .title {
          font-weight: 600;
          text-transform: uppercase;      
        }

        .navigationItem-submenu {
          display: flex;
          flex-direction: column;
          align-items: start;

          .child {
            margin-left: 5px;
          }

          a svg {
            fill: $core-color-background;
            padding-left: 5px;
          }

          &:hover a svg {
            fill: $core-color-primary;
          }
        }
      }
    }
  }

  small {
    color: $core-color-background;
    text-align: center;
    margin: 40px 0;

    @media (min-width: 700px) {
      text-align: left;
      align-items: flex-start;
      margin: 0 0 40px;
    }
  }
}

// MEDIA QUERIES

@media(max-width: 991px) {
  footer.homepageFooter {
    .main-container {
      flex-direction: column-reverse;

      .homepageFooter-container {
        &.navigation {
          width: 100%;
        }
  
        &.logo {
          width: 100%;
          flex-direction: row;
          align-self: flex-end;
          justify-content: space-between;
          margin-bottom: 30px;

          .social-media {
            padding: 0;
          }

          ul.contact__info-details {
            margin: 0;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  footer.homepageFooter {
    .main-container {
      .homepageFooter-container {  
        &.logo {
          align-items: start;

          .social-media {
            display: none;
          }

          ul.contact__info-details {
            .social-media {
              display: flex;
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 599px) {
  footer.homepageFooter {
    .main-container {
      .homepageFooter-container {
        &.navigation {
          ul.navigation {
            justify-content: space-evenly;

            .details-submenu-list {
              width: auto;
            }
          }
        }

        &.logo {
          flex-direction: column;
          align-items: center;
          gap: 20px;

          .social-media {
            display: flex;
            width: 80%;
            justify-content: space-between;
            order: 3;
          }

          ul.contact__info-details {
            order: 2;
            
            .social-media {
              display: none;
            }
          }
        }
      }
    }
  }
}