@import '../styles/colors';

header {
  background: $core-color-light-background;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.container-fluid {
  padding: 12px 20px;
  flex-direction: row;
  justify-content: space-between;
}

.logoLink {
  display: flex;
  font-weight: var(--medium);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-md);
  justify-content: center;
  border: none;

  & a:hover {
    border: none;
  }
}

@media (max-width: 767px) {
  .logoLink > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.desktop-menu {
  display: none;

  @media (min-width: 800px) {
    display: flex;
  }
}

ul.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
  gap: 25px;

  @media (min-width: 600px) {
    padding: 0;
  }

  li.navigationItem {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid transparent;

    &:hover a.navigationItem-main, &:hover span.navigationItem {
      color: $core-color-primary;
      border-bottom: 1px solid #ED7C23;
    }

    &:hover span.summary-submenu-arrow {
      transform: rotate(180deg);
      background-image: url(../images/arrow-hover.svg);
    }

    &:hover .navigationItem-submenu a {
      border-bottom: 1px solid transparent !important;
    }

    &.contactus {
      display: none;

      @media (min-width: 400px) {
        display: inline-flex;
      }
    }

    &.medium-show {
      display: flex;

      @media (min-width: 1000px) {
        display: none;
      }
    }

    &.medium-hide {
      display: none;

      @media (min-width: 1000px) {
        display: flex;
      }
    }


    .details-submenu {
      position: relative;
    }
  }

  .navigationItem a, .navigationItem span {
    border-bottom: 1.5px solid transparent;
    color: currentColor;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navigation-submenu-list {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 15px;
    list-style: none;
    text-align: center;
    align-items: center;
  }

  .details-submenu-list {
    display: none;
    list-style: none;
  }

  .navigationItem.submenu:hover .details-submenu-list {
    display: flex;
    width: max-content;
    position: absolute;
    padding: 5px 30px 25px;
    background: $core-color-light-background;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &.why-us {
      left: -40px;
    }

    &.more-info {
      left: -54px;
    }
  }

  .navigationItem-submenu {
    border-bottom: none;
    text-align: center;
  }

  .navigationItem-submenu a {
    border-bottom: 1px solid transparent;

    &:hover {
      color: #ED7C23;
      border-bottom: 1px solid #ED7C23;
    }
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

  .summary-submenu-arrow {
    background-image: url(../images/arrow.svg);
    width: 15px;
    height: 15px;
    background-size: cover;
  }
}

.navigation.languageSelector .navigationItem {
  display: none;
  gap: 5px;

  @media (min-width: 360px) {
    display: flex;
  }
  
  a.language {
    margin: 0;
    padding: 5px 8px;
    border-radius: 18px;
    background-color: $core-color-primary;
    color: white;
    border: $core-color-primary 0.1px solid;

    &.non-active {
      cursor: pointer;
      background-color: transparent;
      color: $core-color-primary;

      &:hover {
        color: white;
        background-color: $core-color-primary;
      }
    }
  }
}

ul.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 5px;

  li {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
  }

  a.social-media-item {
    display: flex;
    width: 22px;
    height: 22px;

    &.instagram {
      background: url(../images/social-instagram.svg);
      background-size: cover;
    }
    &.facebook {
      background: url(../images/social-facebook.svg);
      background-size: cover;
    }
    &.tiktok {
      background: url(../images/social-tiktok.svg);
      background-size: cover;
    }
    &.youtube {
      background: url(../images/social-youtube.svg);
      background-size: cover;
    }
    &.google {
      background: url(../images/social-google.svg);
      background-size: cover;
    }

    &:hover {
      width: 25px;
      height: 25px;
    }
  }
}

.navigation-container.mobile-menu {
  @media (min-width: 800px) {
    display: none;
  }

  .icon-hamburger {
    stroke: $core-color-secondary;
  }

  .icon-close {
    fill: $core-color-secondary;
  }

  summary.navigation__hamburger-menu-summary {
    display: flex;
    justify-content: flex-end;
  
    &:hover {
      cursor: pointer;
    }
  }
  
  details:not([open]) > .navigation__hamburger-menu-summary .icon-close,
  details[open] > .navigation__hamburger-menu-summary .icon-hamburger {
    display: none;
    opacity: 0;
  }
  
  details[open] > .navigation {
    background-color: black;
  }
  
  details summary::-webkit-details-marker {
    display:none;
  }
  
  .mobile-navigation {
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate(0);
    visibility: visible;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: $core-color-light-background;
    overflow-x: hidden;
    padding: 10px 20px;
  
    & ul.mobile-navigation-menu {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0;
      padding: 0 0 20px;
      list-style: none;

      & .navigationItem {
        align-self: flex-end;

        & .navigationItem-link {
          font-size: 18px;
          font-weight: 600;
          color: $core-color-secondary;
          border-color: 1px solid transparent;
    
          &:hover {
            color: $core-color-primary;
            border-color: $core-color-primary;
          }
        }

      }
    }

    & ul.mobile-navigation-languages {
      display: flex;
      position: absolute;
      list-style: none;
      margin: 0;
      justify-content: flex-end;

      @media (min-width: 360px) {
        display: none;
      }

      .languageSelector {
        display: flex;
        gap: 5px;
        
        a.language {
          margin: 0;
          padding: 5px 8px;
          border-radius: 18px;
          background-color: $core-color-primary;
          color: white;
          border: $core-color-primary 0.1px solid;
    
          &.non-active {
            cursor: pointer;
            background-color: transparent;
            color: $core-color-primary;
    
            &:hover {
              color: white;
              background-color: $core-color-primary;
            }
          }
        }
      }
    }

    & ul.social-media {
      justify-content: flex-end;
      gap: 10px;

      li {
        width: 35px;
        height: 35px;

        a.social-media-item {
          display: flex;
          width: 30px;
          height: 30px;

          &:hover {
            width: 33px;
            height: 33px;
          }
      }
    }
    }
  }
}

