@import '../../styles/colors';
@import '../../styles/fonts';

.services-block {
    display: flex;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100vw;

    .container-fluid {
        flex-direction: column;
    }

    h2 {
        text-align: center;
        padding-bottom: 0;
        line-height: 30px;
    }

    &__text-description {
        text-align: center;
        margin: 10px 0 0;
    }

    .button-secondary {
        align-self: center;
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;

        @media only screen and (min-width: 600px) {
            flex-direction: row;
            justify-content: space-between;
        }

        section {
            width: 100%;

            @media only screen and (min-width: 600px) {
                width: 49%;
            }
        }

        .service-block-card {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            margin: 0 0 22px;
            transition: 1s all ease;
            padding: 5px 20px 10px;
            background-color: $core-color-light;
            border-radius: 16px;

            @media only screen and (min-width: 400px) {
                padding: 20px 25px 15px;
            }

            @media only screen and (min-width: 600px) {
                flex-direction: row;
            }

            .heading-container {
                display: flex;
                border-bottom: 1px solid black;
                margin-bottom: 20px;
                padding: 0 0 12px;
                align-items: center;

                @media only screen and (min-width: 900px) {
                    margin-bottom: 20px;
                    padding: 0;
                }

                .services-block-card__text-heading {
                    font-family: 'MuseoModerno', cursive;
                    font-size: 18px;
                    font-weight: 900;
                    flex-grow: 1;
                    margin: 15px 0;
    
                    @media only screen and (min-width: 700px) {
                        font-size: 22px;
                    }
                }
            }

            details[open] {
                .read-more_button-arrow {
                    transform: rotate(180deg);
                }
            }

            div.read-more_button {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $core-color-primary;

                .read-more_button-arrow {
                    fill: $core-color-primary;
                }

                &:hover {
                    color: $core-color-secondary;

                    .read-more_button-arrow {
                        fill: $core-color-secondary;
                    }
                }
            }


            span.card-icon {
                min-width: 40px;
                min-height: 40px;
                margin-right: 15px;

                @media only screen and (min-width: 700px) {
                    min-width: 48px;
                    min-height: 48px;
                    margin-right: 25px;
                }

                @media only screen and (min-width: 900px) {
                    min-width: 64px;
                    height: 64px;
                }

                &.requirements {
                    background: url(../../images/icon-pets.svg) no-repeat;
                    background-size: cover;
                }
                &.transport {
                    background: url(../../images/icon-transport.svg) no-repeat;
                    background-size: cover;
                }
                &.map {
                    background: url(../../images/icon-arrivals.svg) no-repeat;
                    background-size: cover;
                }
                &.relaxing {
                    background: url(../../images/icon-relaxing.svg) no-repeat;
                    background-size: cover;
                }
            }
    
            .services-block-card__text-description {
                font-size: 16px;
            }



            ul.check-list {
                margin: 0;

                li {
                    font-size: 14px;
                    list-style-type: none;
                    margin-bottom: 5px;
                    background: url(../../images/tick.svg) no-repeat left top;
                    padding: 0px 0 3px 24px;
                    background-position: left 4px;
                }
            }

            &.video {
                padding: 0;

                video {
                    background-size: cover;
                    overflow: hidden;
                    border-radius: 16px;
                }
            }
        }

        .details-container {
            border-top: 1px solid black;
            padding-top: 15px;
        }
        
        details summary {
            position: relative;
            cursor: pointer;
            list-style: none;
            padding-bottom: 15px;
        }
        
        summary::-webkit-details-marker,
        summary::marker {
            display: none;
        }
        
        details summary:after {
            content: "+";
            color: black;
            position: absolute;
            font-size: 1.75rem;
            line-height: 0;
            right: 0;
            font-weight: 200;
            transform-origin: center;
            transition: 200ms linear;
            top: 30px;

            @media only screen and (min-width: 700px) {
                top: 34px;
            }
        }
        details[open] summary:after {
            transform: rotate(45deg);
            font-size: 2rem;
        }
    }
}
