@import '../../styles/colors';
@import '../../styles/fonts';

.services-block {
    display: flex;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100vw;

    .container-fluid {
        flex-direction: column;
    }

    h2 {
        text-align: center;
        padding-bottom: 20px;
        line-height: 30px;
    }

    .button-secondary {
        align-self: center;
    }

    .services-block__container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media only screen and (min-width: 600px) {
            flex-direction: row;
            justify-content: space-between;
        }

        section {
            width: 100%;

            @media only screen and (min-width: 600px) {
                width: 49%;
            }
        }

        .service-block-card {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            margin: 0 0 15px;
            transition: 1s all ease;
            padding: 15px;
            background-color: $core-color-light;
            border-radius: 16px;

            @media only screen and (min-width: 400px) {
                padding: 30px;
            }

            @media only screen and (min-width: 600px) {
                flex-direction: row;
            }

            .heading-container {
                display: flex;
                border-bottom: 1px solid black;
                margin-bottom: 20px;
                padding-bottom: 10px;
                align-items: center;

                @media only screen and (min-width: 900px) {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }
            }

            span.card-icon {
                min-width: 40px;
                min-height: 40px;
                margin-right: 15px;

                @media only screen and (min-width: 700px) {
                    min-width: 48px;
                    min-height: 48px;
                    margin-right: 25px;
                }

                @media only screen and (min-width: 900px) {
                    min-width: 64px;
                    height: 64px;
                }

                &.transport {
                    background: url(../../images/icon-transport.svg) no-repeat;
                    background-size: cover;
                }
                &.map {
                    background: url(../../images/icon-map.svg) no-repeat;
                    background-size: cover;
                }
                &.temperature {
                    background: url(../../images/icon-temperature.svg) no-repeat;
                    background-size: cover;
                }
            }
    
            h3 {
                font-family: 'MuseoModerno', cursive;
                font-size: 20px;
                font-weight: 900;
                flex-grow: 1;

                @media only screen and (min-width: 700px) {
                    font-size: 22px;
                }
            }
    
            p.services-block__text-description {
                font-size: 16px;
                padding-bottom: 20px;
            }

            ul li {
                margin-bottom: 5px;
            }

            ul.check-list li {
                font-size: 14px;
                list-style-type: none;
                margin-bottom: 5px;
                background: url(../../images/tick.svg) no-repeat left top;
                padding: 0px 0 3px 24px;
                background-position: left 4px;
            }

            &.video {
                padding: 0;

                video {
                    background-size: cover;
                    overflow: hidden;
                    border-radius: 16px;
                }
            }
        }

        .details-container {
            border-top: 1px solid black;
            padding-top: 15px;
        }
        
        details summary {
            position: relative;
            cursor: pointer;
            list-style: none;
            padding-bottom: 15px;
        }
        
        summary::-webkit-details-marker,
        summary::marker {
            display: none;
        }
        
        details summary:after {
            content: "+";
            color: black;
            position: absolute;
            font-size: 1.75rem;
            line-height: 0;
            right: 0;
            font-weight: 200;
            transform-origin: center;
            transition: 200ms linear;
            top: 22px;

            @media (min-width: 900px) {
                top: 14px;
            }
        }
        details[open] summary:after {
            transform: rotate(45deg);
            font-size: 2rem;
        }
    }
}
